{% extends 'app/base.html.twig' %}

{% block content %}
    <div class="onboard-guide">
        <ol class="onboard-guide-indicators">
            <li class="indicator"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
        </ol>
        <div class="slide fade-in">
            <div class="header">
                <h1>{{ 'Welcome'|trans }}</h1>
                <p class="lead">{{ 'In a moment you will be ready to generate your first code, but first a quick guide.'|trans }}</p>
            </div>
            <div class="card text-center shadow">
              <div class="card-body">
                <img src="/images/guide-screen1.png" class="img-fluid" alt="Select area">
                <p class="card-text">{{ 'Select the building area you want to access'|trans }}</p>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" onclick="guideSteps()">{{ 'Next'|trans }}</button>
        </div>
        <div class="slide fade-in slide-in">
            <div class="header">
                <h1>{{ 'Welcome'|trans }}</h1>
                <p class="lead">{{ 'In a moment you will be ready to generate your first code, but first a quick guide.'|trans }}</p>
            </div>
            <div class="card text-center shadow">
              <div class="card-body">
                <img src="/images/guide-screen2.png" class="img-fluid" alt="Select area">
                <p class="card-text">{{ 'You now recive an SMS with the doorcode. The code will only work for 10 min.'|trans }}</p>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" onclick="guideSteps()">{{ 'Next'|trans }}</button>
        </div>
        <div class="slide fade-in slide-in">
            <div class="header">
                <h1>{{ 'Accept terms'|trans }}</h1>
            </div>
            {# TODO: Use real text #}
            <h2>Generelle betingelser</h2>
            <p>ยง1 Aliquam mi odio, elementum et suscipit sed, mattis sit amet mi.</p>
            <p>Curabitur sed interdum urna. Ut scelerisque purus at mauris iaculis aliquet.</p>
            <p>Ut porta justo vitae ipsum commodo, et elementum arcu tincidunt. </p>
            <h2>Nulla sagittis et arcu</h2>
            <p>Ut lacinia viverra eros a accumsan. Nam rutrum id sapien quis pulvinar. Pellentesque convallis, metus suscipit aliquet lacinia, leo dui fringilla tortor, eget elementum risus turpis in nisl. Suspendisse vestibulum elit tellus, eget lacinia lacus tempus ut. Suspendisse varius lacus non mauris lobortis blandit. Praesent cursus dictum sagittis.</p>

            {% if guest.activatedAt == null %}
                <form method="post" action="{{ path('app_accept', {guest: guest.id}) }}">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="guideSteps()">{{ 'I agree'|trans }}</button>
                </form>
            {% else %}
                <a class="btn btn-primary btn-lg btn-block" href="{{ path('app_code', {guest: guest.id}) }}">{{ 'OK'|trans }}</a>
            {% endif %}
        </div>
    </div>
    <script>
        var slides = document.querySelectorAll('.slide');
        slides = Array.prototype.slice.call(slides);
        var currentSlide = 0;
        var indicator = document.querySelectorAll('.indicator');
        indicator = Array.prototype.slice.call(indicator);
        function indicators() {
            indicator.forEach(function(ol, index){
                ol.className = (index === currentSlide) ? 'active':'';
            })
            console.log(indicator);
        }
        function guideSteps() {
            slides.forEach(function(slide, index){
                slide.style.display = (index === currentSlide) ? 'block':'none';
            })
            indicators();
            currentSlide++;
        }
        guideSteps();
    </script>
{% endblock %}
