{% extends 'app/base.html.twig' %}

{# @param int n: ISO-8601 numeric representation of the day of the week (1 (for Monday) through 7 (for Sunday)) #}
{% macro week_day_name(n) %}
    {# The year 2001 stared on a Monday #}
    {{ ('2001-01-' ~ n)|date('l')|trans }}
{% endmacro %}

{% block content %}
    {% from _self import week_day_name %}

    <div class="header">
        <h1>{{ 'ID-card'|trans }}</h1>
        <p class="lead">{{ 'This is your personal identification wich grants you access to Dokk1'|trans }}</p>
    </div>

    <div class="card mb-4">
        <img class="card-img-top" src="/images/dokk1-guest-card.jpg" alt="Guest ID-card">
        <div class="card-body">
            <h5 class="card-title">{{ guest.name }}</h5>
            {% if guest.company %}
                <p class="text-muted">{{ guest.company }}</p>
            {% endif %}
            <p><span class="text-muted">{{ 'Phone'|trans }}:</span> {{ guest.phone }}</p>
            {% if guest.email %}
                <p><span class="text-muted">{{ 'Email'|trans }}:</span> {{ guest.email }}</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ 'Valid from'|trans }}: {{ guest.startTime|date(format_date) }} {{ 'to'|trans }} {{ guest.endTime|date(format_date) }}</small>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr><th colspan="2">{{ 'Access times'|trans }}</th></tr>
        </thead>
        <tbody>
        {% for i in 1..7 %}
            <tr>
                {% set start_time = guest.timeRanges['start_time_' ~ i]|default(null) %}
                {% set end_time = guest.timeRanges['end_time_' ~ i]|default(null) %}
                <th scope="row">
                    {{ week_day_name(i) }}
                </th>
                <td>
                    {% if start_time and end_time %}
                        {{ start_time }}–{{ end_time }}
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
