{% extends 'app/base.html.twig' %}

{# @param int n: ISO-8601 numeric representation of the day of the week (1 (for Monday) through 7 (for Sunday)) #}
{% macro week_day_name(n) %}
    {# The year 2001 stared on a Monday #}
    {{ ('2001-01-' ~ n)|date('l')|trans }}
{% endmacro %}

{% block content %}
    {% from _self import week_day_name %}
    <h1>{{ 'Card'|trans }}</h1>

    <dl>
        <dt>{{ 'Name'|trans }}</dt>
        <dd>{{ guest.name }}</dd>

        {% if guest.company %}
            <dt>{{ 'Company'|trans }}</dt>
            <dd>{{ guest.company }}</dd>
        {% endif %}

        <dt>{{ 'Phone'|trans }}</dt>
        <dd>{{ guest.phone }}</dd>

        {% if guest.email %}
            <dt>{{ 'Email'|trans }}</dt>
            <dd>{{ guest.email }}</dd>
        {% endif %}

        <dt>{{ 'Start time'|trans }}</dt>
        <dd>{{ guest.startTime|date(format_date) }}</dd>

        <dt>{{ 'End time'|trans }}</dt>
        <dd>{{ guest.endTime|date(format_date) }}</dd>

        <dt>{{ 'Access times'|trans }}</dt>
        <dd>
            <table>
            {% for i in 1..7 %}
                <tr>
                    {% set start_time = guest.timeRanges['start_time_' ~ i]|default(null) %}
                    {% set end_time = guest.timeRanges['end_time_' ~ i]|default(null) %}
                    <th>
                        {{ week_day_name(i) }}
                    </th>
                    <td>
                        {% if start_time and end_time %}
                            {{ start_time }}–{{ end_time }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </dd>
    </dl>
{% endblock %}
