<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#003764">
        <link rel="stylesheet" href="{{ asset('stylesheets/app/app.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/fa-svg-with-js.css') }}">

        <link rel="manifest" href="/manifest.json">

        <script defer src="{{ asset('static/js/fa-solid.min.js') }}"></script>
        <script defer src="{{ asset('static/js/fontawesome.min.js') }}"></script>

        <title>{{ app_name }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>


        {% set route = app.request.attributes.get('_route')|default(null) %}
        {% set route_params = app.request.attributes.get('_route_params')|default({}) %}
        {% if route %}
            <nav class="navbar navbar-expand navbar-light bg-light fixed-bottom">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link {{ route == 'app_code' ? 'active' }}" href="{{ path('app_code', route_params) }}"><i class="fas fa-lock-open fa-fw"></i><span>{{ 'Code'|trans }}</span></a>
                    <a class="nav-item nav-link {{ route == 'app_card' ? 'active' }}" href="{{ path('app_card', route_params) }}"><i class="fas fa-id-card fa-fw"></i><span>{{ 'Card'|trans }}</span></a>
                    <a class="nav-item nav-link {{ route == 'app_about' ? 'active' }}" href="{{ path('app_about', route_params) }}"><i class="fas fa-info-circle fa-fw"></i><span>{{ 'About'|trans }}</span></a>
                </div>
            </nav>
        {% endif %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ asset('/static/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/static/js/popper.min.js') }}"></script>
        <script src="{{ asset('/static/js/bootstrap.min.js') }}"></script>

        <!-- Register serviceworker -->
        <script>
            if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
                });
            });
            }
        </script>

    </body>
</html>
