<!doctype html>

{% set route = app.request.attributes.get('_route')|default(null) %}
{% set route_params = app.request.attributes.get('_route_params')|default({}) %}
{% if not on_app_page is defined %}
    {% set on_app_page = route and route matches '/^app_(code|card|about)/' %}
{% endif %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="{{ get_configuration('pwa_app_name') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#003764">
        <link rel="stylesheet" href="{{ asset('stylesheets/app/app.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/fa-svg-with-js.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/addtohomescreen.css') }}">

        {% if on_app_page %}
            <!-- iOS webapp tricks -->
            {% if is_ios() %}
                <meta name="apple-mobile-web-app-title" content="{{ get_configuration('pwa_app_short_name') }}">
                <meta name="apple-mobile-web-app-capable" content="yes">
                <link rel="apple-touch-icon" href="{{ asset(app_icon(512)) }}">
                {% for size in [152, 167, 180] %}
                    <link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="{{ asset(app_icon(size)) }}">
                {% endfor %}
                <link rel="apple-touch-startup-image" media="(device-width: 375px)" href="{{ asset('static/img/splashscreen.png') }}">
                <script src="{{ asset('static/js/ios_stay_standalone.min.js') }}"></script>
                <script src="{{ asset('static/js/addtohomescreen.min.js') }}"></script>
                <script>
                    addToHomescreen();
                </script>
            {% endif %}

            <!-- Webapp manifest -->
            {% if guest|default(null) %}
                <link rel="manifest" href="{{ path('app_manifest', {guest: guest.id}) }}">
            {% endif %}
        {% endif %}

        <title>{{ get_configuration('pwa_app_name') }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% set route = app.request.attributes.get('_route')|default(null) %}
        {% set route_params = app.request.attributes.get('_route_params')|default({}) %}

        {% if on_app_page %}
            <nav class="navbar navbar-expand navbar-light bg-light fixed-bottom">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link {{ route == 'app_code' ? 'active' }}" href="{{ path('app_code', route_params) }}"><i class="fas fa-lock-open fa-fw"></i><span>{{ 'Code'|trans }}</span></a>
                    <a class="nav-item nav-link {{ route == 'app_card' ? 'active' }}" href="{{ path('app_card', route_params) }}"><i class="fas fa-id-card fa-fw"></i><span>{{ 'Card'|trans }}</span></a>
                    <a class="nav-item nav-link {{ route == 'app_about' ? 'active' }}" href="{{ path('app_about', route_params) }}"><i class="fas fa-info-circle fa-fw"></i><span>{{ 'About'|trans }}</span></a>
                </div>
            </nav>
        {% endif %}
        <script src="{{ asset('/static/js/app.min.js') }}"></script>

        {% if on_app_page %}
            {# Register serviceworker #}
            <script>
                if('serviceWorker' in navigator) {
                    if (navigator.serviceWorker.controller) {
                        console.log('Active service worker found, no need to register')
                    } else {
                        //Register the ServiceWorker
                        navigator.serviceWorker.register({{ path('app_serviceworker', route_params)|json_encode|raw }}).then(function(reg) {
                            console.log('Service worker has been registered for scope:'+ reg.scope);
                        });
                    }
                }
            </script>
        {% endif %}
    </body>
</html>
