<div style="display: none">{{ markup|raw }}</div>

{% set config = configuration.get('code.config') %}

<div class="date-time-range">
  {% if name == 'startTime' %}

    <div class="date-time-range-date">
      <input id="{{ id }}-picker" class="form-control" type="date" min="{{ 'now'|date('Y-m-d') }}" value="{{ value|date('Y-m-d') }}"/>
    </div>

  {% elseif name == 'endTime' %}

    {% macro time_selector(config, id) %}
      <select class="form-control" id="{{ id }}">
        {% for hour in config.hours.min..config.hours.max %}
          {% for minute in config.minutes %}
            {# Skip last minute value in last hour. @TODO: Improve this, i.e. make it more obvious #}
            {% if not loop.last or not loop.parent.loop.last %}
              <option>{{ '%02d:%02d'|format(hour, minute) }}</option>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </select>
    {% endmacro %}

    {# Time span selectors #}
    {% apply spaceless %}
    <div class="date-time-range-time date-time-range-time-start">
      {{ _self.time_selector(config.startTime, id ~ '-time-start') }}
    </div>
    –
    <div class="date-time-range-time date-time-range-time-end">
      {{ _self.time_selector(config.endTime, id ~ '-time-end') }}
    </div>
    {% endapply %}

  {% endif %}
</div>
