{% set class_name = id|replace({'_': '-'}) %}
<div class="input-group {{ class_name }} {{ class_name }}-{{ easyadmin.view }}">
  <span class="input-group-addon">+{{ easyadmin.item.phoneCountryCode }}</span>
  {{ markup|raw }}
</div>
