{{ markup | raw }}

{% set template = form.parent.vars.data.aeosData|default({}) %}

<div class="find-aeos-data">
  <select id="aeos-data-select"></select>
  <p class="help-block"><i class="fa fa-info-circle"></i> {{ 'template.find.template.help' | trans }}</p>

  <script>(function ($) { $(function() {
     var renderResult = function (result) {
       if (result.loading || result.selected || result.id === 0) {
         return result.text;
       }

       return result.Name + ' (#' + result.Id + ')';
     };
     $('#aeos-data-select').select2({
       placeholder: {{ (template ? template : {'id': 0, 'text': ('Invalid AEOS template id' | trans)})
                    | json_encode | raw }},
       ajax: {
         url: {{ path('admin_get_templates_search') | json_encode | raw }},
         dataType: 'json',
         delay: 250,
         data: function (params) {
           return {
             query: params.term
           };
         },
         processResults: function (data, params) {
           data.forEach(function (item) {
             item.id = item.Id;
           });

           return {
             results: data
           };
         },
         cache: true
       },
       minimumInputLength: 3,
       templateResult: renderResult,
       templateSelection: renderResult
     }).on('select2:select', function (event) {
       $('#' + {{ id | json_encode | raw }}).val(event.params.data.Id);
     });
   }) }(jQuery))</script>
</div>
