{% extends 'admin/page/login.html.twig' %}

{% block title %}{{ 'Reset your password'|trans }}{% endblock %}

{% block body_class 'page-login reset-password' %}

{# @see @EasyAdmin/page/login.html.twig #}
{% block content %}
  {% if error|default(false) %}
    <div class="w-100 alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  {% form_theme requestForm '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}
  {{ form_start(requestForm) }}
  {{ form_row(requestForm.email) }}
  <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-lg">
      {{ 'Send password reset email'|trans }}
    </button>
  </div>

  {{ form_end(requestForm) }}
{% endblock %}
