{% extends 'admin/page/login.html.twig' %}

{% block title %}{{ 'Reset your password'|trans }}{% endblock %}

{% block body_class 'page-login reset-password' %}

{% block content %}
  {% if error|default(false) %}
    <div class="w-100 alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  {% form_theme resetForm '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}
  {{ form_start(resetForm) }}
  {{ form_row(resetForm.plainPassword) }}
  <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-lg">
      {% set is_create = app.request.get('create')|default(false) %}
      {{ is_create ? 'Create password'|trans : 'Reset password'|trans }}
    </button>
  </div>

  {{ form_end(resetForm) }}
{% endblock %}
