{% extends 'easy_admin/layout.html.twig' %}

{# Variable `wrapper_classes` is used by parent template #}
{% set wrapper_classes = ['no-menu', 'user-page'] %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel-heading">
          <h1>{{ 'Api key'|trans }}</h1>
        </div>

        <div class="panel-body">
          <form method="post" action="{{ path('user_apikey_generate') }}">

            {% if user.apiKey %}
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" data-readonly value="{{ user.apiKey }}"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-clipboard-text="{{ user.apiKey }}" data-content="{{ 'Api key copied to clipboard'|trans }}"><span class="fa fa-clipboard"></span></button>
                  </span>
                </div>
              </div>

              <div class="form-group">
                {% set label = 'Generate new api key'|trans %}

                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirm-modal">{{ label }}</button>
                </div>

                <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-label">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="confirm-modal-label">{{ label }}</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{ 'Confirm generate new api key'|trans }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary">{{ label }}</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            {% else %}
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">{{ 'Generate api key'|trans }}</button>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_javascript %}
  <script src="{{ asset('javascripts/clipboard.min.js') }}"></script>
  <script>(function($) {
     var selector = '[data-clipboard-text]',
         clipboard = new Clipboard(selector);

     $(selector).popover({
       trigger: 'manual',
       container: 'body',
       placement: 'left'
     });

     clipboard.on('success', function(e) {
       $(e.trigger).popover('show');
       setTimeout(function () {
         $(e.trigger).popover('hide');
       }, 1000);
     });

     $('.form-control').on('focus', function () {
       $(this).select();
     });
   }(jQuery))</script>
{% endblock %}
