{{ markup | raw }}

{% set user = form.parent.vars.data|default({}) %}
{% set person = user.aeosPerson|default(null) %}

<div class="user-find-aeos-person">
  <input id="aeosId-typeahead" class="form-control" type="text" autocomplete="off"/>
  <p class="help-block"><i class="fa fa-info-circle"></i> {{ 'user.find.person.help' | trans }}</p>

  <script src="{{ asset('node_modules/corejs-typeahead/dist/typeahead.bundle.min.js') }}"></script>
  <script>(function ($) { $(function() {
     var messages = {{ {
                    'invalidData': ('Invalid AEOS-id' | trans),
                    'noMatches': ('No matches' | trans)
                    } | json_encode | raw }},
         renderPerson = function(person) {
           if (!person) {
             return messages.invalidData;
           }

           return person.FirstName + ' ' + person.LastName + ' (' + person.PersonnelNo + ')';
         },
         person = {{ person | json_encode | raw }};

     $input = $('#aeosId-typeahead');
     $input.typeahead({
       // Some PersonnelNos has only three characters.
       minLength: 3
     }, {
       source: function (query, syncResults, asyncResults) {
         return $.get({{ path('admin_get_people_search') | json_encode | raw }}, { query: query }, function (data) {
           return asyncResults(data);
         });
       },
       display: function (item) {
         if (item.message) {
           return item.message;
         } else {
           return renderPerson(item);
         }
       },
       templates: {
         notFound: messages.noMatches
       }
       })
           .on('typeahead:select', function(ev, item) {
             if (item.Id) {
               $('#' + {{ id | json_encode | raw }}).val(item.Id);
             } else {
               $input.val('');
             }
           })
           .on('focus', function() {
             if ($(this).val() === messages.invalidData) {
               $(this).val('');
             }
           })
           .val(renderPerson(person));
     }) }(jQuery))</script>
</div>
