{% extends 'app/base.html.twig' %}

{#
 # @param guest: The Guest object.
 # @param guest_is_valid: Guest access start before now and ends after now.
 # @param guest_can_request_code: Guest can request access at this time on this day.
 #}

{% block content %}
    {% set route_params = app.request.attributes.get('_route_params')|default({}) %}

    <div class="header">
        <h1>{{ 'Select area'|trans }}</h1>
        <p class="lead">{{ 'Press the area in Dokk1 you wish to access'|trans }}</p>
    </div>

    {% if guest_is_valid %}
        {% for template in guest.templates %}
            {% for type in ['danger', 'warning', 'success', 'info'] %}
                {% for message in app.flashes('gh_message_' ~ type ~ '_' ~ template.id)|default([]) %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="card guest-area">
                <div class="card-body">
                    <h2 class="card-title area-name">{{ template.name }}</h2>
                    <h4 class="location">{{ 'Level'|trans }} 2.2 {# TODO: get level from {{ template.location }} #}</h4>
                    <p class="card-text description">Short description of the area and how to get there. {# TODO: get description from template {{ template.description }} #}</p>
                </div>
                <div class="card-footer">
                    {% if guest_can_request_code %}
                        <form method="post" action="{{ path('app_code_request', route_params|merge({template: template.id})) }}">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'Request access'|trans }}</button>
                        </form>
                    {% else %}
                        <div class="alert alert-warning">{{ 'You are not allowed to request access right now'|trans }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">{{ 'Your guest access is not valid'|trans }}</div>
    {% endif %}
{% endblock %}
