{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block user_menu_dropdown %}
  <li>
    <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> {{ 'Change password'|trans }}</a>
  </li>
  {{ parent() }}
{% endblock %}

{# It should be possible to just change body_class, but apparently it doesn't work (cf. https://github.com/javiereguiluz/EasyAdminBundle/issues/807#issuecomment-172552196) #}
{% block body %}
  <body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">
    {% set wrapper_classes = [] %}
    {% if app.user == null %}
      {% set wrapper_classes = wrapper_classes|merge(['is-unauthorized']) %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      {% set wrapper_classes = wrapper_classes|merge(['is-admin']) %}
    {% else %}
      {% set wrapper_classes = wrapper_classes|merge(['no-menu']) %}
    {% endif %}
    <div class="wrapper {{ wrapper_classes|join(' ') }}">
      {{ block('wrapper') }}
    </div>
  </body>
{% endblock %}
