{% extends '@EasyAdmin/default/layout.html.twig' %}

{# It should be possible to just change body_class, but apparently it doesn't work (cf. https://github.com/javiereguiluz/EasyAdminBundle/issues/807#issuecomment-172552196) #}
{% block body %}
  <body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">
    {% set wrapper_classes = wrapper_classes|default([]) %}
    {% if app.user == null %}
      {% set wrapper_classes = wrapper_classes|merge(['is-unauthorized']) %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      {% set wrapper_classes = wrapper_classes|merge(['is-admin']) %}
    {% elseif easyadmin_config('design.menu')|length < 2 %}
      {% set wrapper_classes = wrapper_classes|merge(['no-menu']) %}
    {% endif %}
    {% if app.request.attributes.get('_route') matches '/^fos_user/' %}
      {% set wrapper_classes = wrapper_classes|merge(['no-menu']) %}
    {% endif %}

    <div class="wrapper {{ wrapper_classes|join(' ') }}">
      {{ block('wrapper') }}
    </div>

    {% block body_javascript %}{% endblock body_javascript %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.{{ locale }}.min.js" integrity="sha256-hGPm6Di+atmqnTEV1j+f1+CZHVAdpfGjUI/WBOVZlHM=" crossorigin="anonymous"></script>

    {% for js_asset in easyadmin_config('design.assets.js') %}
      <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}
  </body>
{% endblock %}

{% block head_stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" integrity="sha256-I4gvabvvRivuPAYFqevVhZl88+vNf2NksupoBxMQi04=" crossorigin="anonymous" />
{% endblock %}

{# Add (center) image to header. #}
{# Hide user_menu for anonymous user. #}
{% block header %}
  <nav class="navbar" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">{{ 'toggle_navigation'|trans(domain = 'EasyAdminBundle') }}</span>
    </a>

    <div id="header-logo">
      {% block header_logo %}
        <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
          {{ easyadmin_config('site_name')|raw }}
        </a>
      {% endblock header_logo %}
    </div>

    {% if header_image_url|default(false) %}
    <div id="header-image">
      {% block header_image %}
        <a title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
          <img src="{{ header_image_url }}"/>
        </a>
      {% endblock header_image %}
    </div>
    {% endif %}

    {% if app.user %}
      <div class="navbar-custom-menu">
        {% block header_custom_menu %}
          {% set _logout_path = easyadmin_logout_path() %}
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              {% block user_menu %}
                <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>

                {% if app.user|default(false) == false %}
                  <i class="hidden-xs fa fa-user-times"></i>
                  {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                {% elseif not _logout_path %}
                  <i class="hidden-xs fa fa-user"></i>
                  {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                {% else %}
                  <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown">
                      <i class="hidden-xs fa fa-user"></i>
                      {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                    </button>
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      {% block user_menu_dropdown %}
                        <li>
                          <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> {{ 'Change password'|trans }}</a>
                        </li>
                        <li>
                          <a href="{{ path('user_apikey') }}"><i class="fa fa-key"></i> {{ 'Api key'|trans }}</a>
                        </li>
                        <li>
                          <a href="{{ _logout_path }}"><i class="fa fa-sign-out"></i> {{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>
                        </li>
                      {% endblock user_menu_dropdown %}
                    </ul>
                  </div>
                {% endif %}
              {% endblock user_menu %}
            </li>
          </ul>
        {% endblock header_custom_menu %}
      </div>
    {% else %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('fos_user_security_login') }}">{{ 'Sign in'|trans }}</a>
                </li>
            </ul>
        </div>
    {% endif %}
  </nav>
{% endblock header %}
